*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
}
header{
    background-color: #333333;
    height: 56px;
}
a{
    color: #999999;
    text-decoration: none;
}
li{
    list-style: none;
}
header .left img{
    height: 45px;
    margin-top: 4px;
}
header .navbar>li{
    color: #999999;
    margin: 0 10px;
    font-size: 0.9em;
    line-height: 56px;
    cursor: pointer;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.right input{
    outline: none;
    border: none;
    width: 210px;
    height: 25px;
    border-radius: 4px;
}
.left{
    margin-left: 25px;
}
.right{
    margin-right: 25px;
}
.right li span{
    background: linear-gradient(45deg, #E47B49 0%, #EA4C89 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right form
{
    position: relative;
}
.fa-search{
    position: absolute;
    top: 20px;
    left: 5px;
}
.right form input[placeholder]{
    text-indent: 25px;
}
.fas{
    font-size: 1.2em;
}
header .sub{
    background-color: #333333;
    border-radius: 0 0 5px 5px;
    line-height: 2.5em;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    width: 180px;
}
header .sub a{
    color: #999999;
    padding: 10px;
}
header .navbar>li:hover .nav-a{
    color: #FFFFFF;
}
header .navbar>li:hover .sub{
    display: block;
}
header .sub li:hover{
    background-color: #777;
}
header .sub li:hover a{
    color: #FFFFFF;
}
.sub-header{
    background-color: #FFFFFF;
    text-align: center;
    height: 50px;
    font-size: 0.9em;
    border-bottom: 1px solid #e5e5e5;
}
.sub-header li{
    display: inline;
    line-height: 50px;
    margin: 0 10px;
}
.Following{
    color: #333333;
}
.container{
    width: 80%;
    margin: 30px auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.card{
    width: 220px;
    display: inline-block;
    margin: 15px 13px;

}
.card-top{
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
}
.card-top{
    position: relative;
}
.author img{
    margin-left: 10px;
    border-radius: 50%;
    width: 16px;
    vertical-align: middle;
}
.author span{
    font-size: 0.8em;
    color: #3d9cb9;
    font-weight: bolder;
}
.card .icon{
    text-align: right;
    color: #999999;
    font-size: 0.8em;
}
.hover-info{
    background-color: rgba(255,255,255,0.9);
    font-size: 0.7em;
    position: absolute;
    width: 200px;
    height: 150px;
    top: 10px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
    display: none;
}
.card-top:hover .hover-info{
    display: flex;
}
.hover-info h4{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 10px;
}
.loadmore{
    height: 47px;
    background-color: #aaa;
    border-radius: 5px;
    text-align: center;
    line-height: 47px;
    color: #FFF;
    font-size: 0.9em;
}
.loadmore:hover{
    background-color: gray;
}
